:root {
    --color-primary: #7694ff;
    --color-secundary: #3f3f4b;
    --color-background: #2f2f39;
    --color-red: #e62e4d;
    --color-green: #1ad174;
    --color-light: #fff;
    --color-light-grey: #e3e3e2;
    --color-facebook: #3861f6;
}
